  .social{
   position:fixed(top);
   left:auto;
   top:40%;
   border-radius:10px 10px;
  }
  
  .social ul li a{
   display:inline-block;
   background:white;
   padding:10px 15px;
   text-decoration:none;
   -webkit-transition:all 500ms;
   -o-transition:all 500ms;
   transitions:all 500ms;
  }
  
  .social > li{
  float:left;
  }
  
  .social ul li .icon-facebook{
  background:#000033;
  }
  .social ul li .icon-twitter{
  background:#00abf0;
  }
  .social ul li .icon-instagram{
  background:#990099;
  }
  
  .social ul li a:hover{
   padding: 10px 30px;
   }

 

